# Overview

This module is the annotation processor itself. It handles the JPA annotations, creates a model and
forwards this model to the generators which in turn create some scripts which are used to create the
schema.
