# Restrictions

The annotation processor has some restrictions for the entity model that is processed.

The current limitations are:

* The name of an entity must be unique within the compilation unit.
* The name of a table must be unique within the compilation unit (even if the tables are spread
across different schemas or catalogs).
