#set($h1 = '#')
#set($h2 = '##')

$h1 Introduction

This project contains a JPA annotation processor to handle JPA annotations and generate scripts (or similar) to create
the database schema needed.

This parent is to separate the annotation processor and the generators on one side from the samples on the other side.

The processor and some generators can be found in the [aggregator module](./aggregator/index.html) while the samples
can be found in the [sample module](./sample/index.html).
