# Introduction

This project contains a JPA annotation processor to handle JPA annotations and generate scripts (or
similar) to create the schema needed.

The project consists of different modules.

The major modules are

* the [processor](./processor/index.html)
* the [generators](./generator/index.html)

## Generation of schemas

To generate a schema description out of the JPA annotations you need the annotation processor and a
generator during compilation.
