#set($h1 = '#')
#set($h2 = '##')

$h1 Quick Start

To start quickly with the generation of your schema scripts use a sample. The following samples exist

* [Liquibase 3.4](./sample/liquibase3.4/index.html)
